<div ng-controller="RegistrationController as Regctrl">

    <div class ="page-header">
        <h1>User Registration</h1>
    </div>

    <hr />


    <form >

        <label>Name:</label>
        <input class="form-control" type="text" placeholder="Name" size="10" ng-model="Regctrl.regDetails.name"><br>

        <label>Username:</label>
        <input class="form-control" type="text" placeholder="Username" size="10" ng-model="Regctrl.regDetails.username"><br>

        <label>password:</label>
        <input class="form-control" type="password" placeholder="password" size="10" ng-model="Regctrl.regDetails.password"><br>

        <label>E-mail:</label>
        <input class="form-control" type="text" placeholder="email" size="10" ng-model="Regctrl.regDetails.email"><br>


        <button class ="btn btn-warning" type="submit" ng-click="Regctrl.Register(Regctrl.regDetails)">register</button>

    </form>

</div>